<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>
    

<form id="Form-Lor">
    <input type="text" name="Jogador" placeholder="Nome do Jogador">
    <input type="text" name="Personagem" placeholder="Nome do Personagem">
    <input type="number" name="Idade" placeholder="Idade do Personagem">
    <input type="text" name="Ocupation" placeholder="Ocupação do Personagem">
    <input type="text" name="Sexo" placeholder="Sexo do Personagem">
    <textarea id="Lor" name="História" placeholder="História do Personagem"></textarea>
</form>

<form id="Form-Estatisticas"></form>

<form id="Form-Perícias"></form>

<form id="Form-Status">
    <input type="number" name="Life" placeholder="Life">
    <input type="number" name="Magia" placeholder="Magia">
    <input type="number" name="Sanidade" placeholder="Sanidade">
   <input type="number" name="Sorte" placeholder="Sorte">
</form>

</body>
<script src="../static/script.js"></script>

</html>