<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<body>
    

<form id="Form-Lor">
    <label>Nome do Jogador: <input type="text" name="Jogador" placeholder="Nome do Jogador"></label>
    <label>Nome do Personagem: <input type="text" name="Personagem" placeholder="Nome do Personagem"></label>
    <label>Idade do Personagem: <input type="number" name="Idade" placeholder="Idade do Personagem"></label>
    <label>Ocupação do Personagem: <input type="text" name="Ocupation" placeholder="Ocupação do Personagem"></label>
    <label>Sexo do Personagem: <input type="text" name="Sexo" placeholder="Sexo do Personagem"></label>
    <label>História do Personagem: <textarea id="Lor" name="História" placeholder="História do Personagem"></textarea></label>
</form>

<form id="Form-Estatisticas"></form>

<form id="Form-Perícias"></form>

<div id="Rolagem_dados">
    <button id="Remover_Dados">❌</button>
    <div id="Dados_Escolhidos"></div>
    <h1 id="Dados_Title"></h1>
</div>

<form id="Form-Status">
    <label>Life: <input type="number" name="Life" placeholder="Life"></label>
    <label>Magia: <input type="number" name="Magia" placeholder="Magia"></label>
    <label>Sanidade: <input type="number" name="Sanidade" placeholder="Sanidade"></label>
    <label>Sorte: <input type="number" name="Sorte" placeholder="Sorte"></label>
</form>

</body>
<script src="../static/script.js"></script>

</html>