<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Seu Personagem</h1>
    <input type="text" placeholder="Imagem">
    <textarea id="Aparencia"></textarea>
    <textarea id="Notas"></textarea>
    <form id="Form-Inventário">
        <label>Inventário</label>
        <input type="text">
        <button onclick="Adicionar()">Adicionar</button>
    </form>
</body>
<script src="../static/script.js"></script>
</html>