<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="Tablet">
        <div id="Caixa_Tablet">
            <input type="color" id="Color_Orb">
            <h1>AURA DE <span id="Elemento">FOGO</span></h1>
            <button id="Adicionar">+</button>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>
</html>