<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="Tablet">
        <div id="Caixa_Tablet">
            <input type="color" id="Color_Orb">
            <h1>AURA DE <span id="Elemento">FOGO</span></h1>
            <div id="Conteudo_Tablet"></div>
            <button id="Adicionar">+</button>
            <div id="Add_Tablet">
                <input type="color" id="elemento_Color">
                <input type="text" id="Elemento">
                <input type="text" id="Name">
                <input type="number" id="quantidade">
                <textarea id="description"></textarea>
                <button onclick="Adicionar_Elementos()">Adicionar</button>
            </div>
        </div>
    </div>
</body>
<script src="../static/script.js"></script>
</html>